.parent {
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(
-165deg
,rgba(22,22,22,.8),rgba(0,0,0,.8));
    
  }
  
  .child1 {
    
    flex: 0 1 300px;
    
    flex: 1 1 500px;
    text-align: center;
    margin-top: 5%;
    
  }
  .btn-grad {background: linear-gradient(
    101.76deg
    ,#243cff -3.15%,#d62ec0 55.05%,#f37777 110.87%);}
  .btn-grad {
     margin: 10px;  
     padding: .7rem 2rem;
     text-align: center;
     font-weight: bolder;
     transition: 0.5s;
     background-size: 200% auto;
     color: white;            
    
     border-radius: 10px;
     display: block;

   }

   .btn-grad:hover {
     background-position: right center; /* change the direction of the change here */
     color: #fff;
     text-decoration: none;
   }
.underline__text{
   
        text-decoration: none; 
        position: relative; 
      
}
   .underline__text:after {
    content: "";
    background: url(https://beta.huddle01.com/static/media/RainbowUnderline.abf0d853.svg);
    height: 100%;
    width: 100%;
    position: absolute;
    margin-left: -35%;
    left: 0;
    bottom: -.5rem;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 40%;
    z-index: -1;
}
.tachyon_container {
    margin: 10rem 7vw;
    position: relative;
    background: radial-gradient(166.5% 101.81% at 0 44.17%,rgba(131,1,114,.37) 0,hsla(0,0%,100%,0) 100%),url(https://beta.huddle01.com/static/media/GradLight.f5bafe30.svg);
    -webkit-backdrop-filter: blur(42px);
    
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    border-radius: 1rem;
}
.tachyon_box {
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding: 4rem;
    background-size: cover;
   
}
.tachyon__img {
    width: 100%;
}
.tachyon__investor {
    padding: 0 0 2rem;
    margin: 0 7vw;
}
.tachyon__investor h2 {
    font-family: "Inter",sans-serif;
    font-weight: 700;
    color: #fff;
    text-align: center;
    font-size: 2rem;
}
.investor__box {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    place-items: center;
    border-radius: 1rem;
    margin: 1.25rem 0;
}
#h3{
    display: block;
    text-align: center;
    margin: auto;
    font-weight: 700;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: white;
}
#p{
    color: #5f5f5f;
    text-align: center;
    display: block;
    margin: 1rem auto;
    max-width: 80%;
    font-weight: 400;
    
    font-size: 1.25rem;
}
.socials{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    margin: 1rem auto;}
    .social__box {
        /* display: -webkit-flex; */
        display: flex;
        cursor: pointer;
        -webkit-align-items: center;
        align-items: center;
        width: 100%;
        -webkit-justify-content: center;
        justify-content: center;
    }
    .social__box img {
        margin-right: .5rem;
        vertical-align: middle;
    }
    .social__box p {
        font-size: 1rem;
        width: -webkit-max-content;
        width: max-content;
        margin: 0 1rem;
    }
    .social__box p span {
        color: #fff;
    }
    .row .s1{
        margin-left: 35%
    }
    @media screen and (max-width: 800px){
.tachyon__img {
    width: 100%;

}
.row .underline__text{
    margin-left: 0.5%;

}
.row .s1{
    margin-left: 0%;
}}